.idk {
    background-color: #fff;
    background-image:
        url("/src/ArtPage/Assets/stars/Starbtl.png"), 
        url("/src/ArtPage/Assets/stars/Starbbr.png"), 
        url("/src/ArtPage/Assets/stars/Starbbl.png"), 
        url("/src/ArtPage/Assets/stars/Starbtr.png"); 
    background-position: 
        left top,
        right bottom, 
        left bottom, 
        right top;  /* Set positioning for corner 1 */
    background-repeat: 
      no-repeat, 
      no-repeat,
      no-repeat,
      no-repeat; 
    background-size: 
      40%; 


  padding-bottom: 2%;

} 
/* Style the tab */
.bloc-tabs {
  /*overflow: hidden;*/ 
  /*border: 1px solid #ccc;
  background-color: #f1f1f1; */

  display: flex;         /* Enables flexbox layout */
  justify-content: center; /* Horizontally centers the tabs */
  flex-direction: row;

  margin-left: 5%;
  margin-right: 5%;

}

.bloc-tabs img {
  z-index: 10;
}

.bloc-tabs p {
  position: relative;
  z-index: 100;
  font-weight: bold;
  visibility: hidden;
}


.tabs {
    position: relative;
}

.tabs img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.c {
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}
/* Style the buttons inside the tab */
.bloc-tabs div {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.bloc-tabs img.line {
  /*visibility: hidden;*/ 
    position: relative;
    left: 50%;
    z-index: 6;
}

/* Change background color of buttons on hover */
.bloc-tabs div:hover p {
  /*background-color: #ddd;*/ 
  text-decoration: underline;
  visibility: visible;
}
.bloc-tabs div:hover img{
  /*background-color: #ddd;*/ 
  visibility: visible;
}

/* Create an active/current tablink class */
.bloc-tabs div.active-tabs p{
  /*background-color: #ccc; */ 
  text-decoration: underline;
  visibility: visible;
}

/* Create an active/current tablink class */
.bloc-tabs div.active-tabs img{
  /*background-color: #ccc; */ 
  visibility: visible;
}

.block {
  display: block; 
}

.content {
  display: none; 
}

.active-content {
  display: block; 
}