/* Style the tab */
.bloc-tabs {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tabs {
  
}
/* Style the buttons inside the tab */
.bloc-tabs div {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.bloc-tabs div:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.bloc-tabs div.active-tabs {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.block {
  display: block; 
}

.content {
  display: none; 
}

.active-content {
  display: block; 
}